@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(164,219,252);
        background: linear-gradient(94deg, rgba(164,219,252,1) 0%, rgb(247, 237, 237) 94%);
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a {
        padding: 15px 0;
    }

    nav .mainMenu li a:hover {
        background: none;
    }
}

@media (max-width:536px) {
    figure {
        display: none;
    }
}


@media (min-width:0px) and (max-width:430px) {
    .motivasi {
        font-size: 1.9em;
    }
}
