* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

header {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 0.9em;
}
.background-header{
    box-shadow: 2px 1px 5px 1px rgb(134, 134, 134);
    background: rgb(164,219,252);
    background: linear-gradient(94deg, rgba(164,219,252,1) 0%, rgb(247, 237, 237) 94%);
    transition: all 300ms ease-in;
    font-size: 1em;
}

.logo {
    padding: 20px 0;
    
}

.logo a {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    font-size: 1.8em;
    color: rgb(5, 5, 5);   
    color: black; 
}

nav {
    /* color: black; */
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
}

/* .mainMenu li img {
    margin-top: 5px;
} */

nav .mainMenu li a:hover {
    color: rgb(119, 116, 116);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

main {
    max-width: 700px;
    margin: 150px auto;
    padding: 0 10px;
}

.artikel {
    padding: 50px;

}

.penulis {
    display: flex;    
    align-items: center;
}

.profil {
    padding-right: 30px;
}

.profil img {
    border-radius: 100px;
    border: 3px solid rgb(128, 128, 128);
    padding: 3px;
}

.nama p:first-child {
    font-size: 1.3em;
    font-weight: bold;
}

.nama p:last-child {
    color: grey;
}

.backandgo {
    margin: 30px 0;
    font-size: 0.9em;
    color: grey;
    cursor: pointer;
    max-width: max-content;
}

.backandgo a {
    color: grey;
}

.backandgo a:hover {
    border-bottom: 1px solid grey;
}

.title {
    margin: 30px 0;
    color: blue;

}

.date {
    margin: 30px 0;
    font-size: 0.9em;
    color: grey;
}


.gambar {
    margin: 0 0 30px 0;
}

.gambar img {
    max-width: 100%;
}

article {
    /* color: rgb(82, 81, 81); */
    text-align: justify;
    line-height: 35px;
}

.subjudul {
    color: blue;
    font-size: 2em;
}

.code img, .result img{
    max-width: 100%;
}

footer {
    background-color: #404449;
}

.container-footer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-bar {
    max-width: 600px;
    margin: 70px 10px;
}

.about-me {
    margin: 70px 10px;
}

.about-me h3 {
    padding-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5em;
    color: #f8f9fa;
}

.about-me p {
    color: #f8f9fa;
    line-height: 25px;
    font-family: 'Patrick Hand', cursive;
    font-size: 2;
}

.about-web {
    margin: 0 10px 70px 10px;
}

.about-web h3 {
    padding: 0 10px 20px 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5em;
    line-height: 120%;
    color: #f8f9fa;
}

.about-web p {
    color: #f8f9fa;
    line-height: 25px;
    font-family: 'Patrick Hand', cursive;
    font-size: 2;
}

.contact {
    margin: 0 10px 0 10px;
}

.contact h3 {
    padding: 0 10px 20px 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5em;
    color: #f8f9fa;
}

.contact p {
    padding-bottom: 10px;
    color: #f8f9fa;
    font-family: 'Patrick Hand', cursive;
    font-size: 2;
}


.medsos {
    display: flex;
    padding: 20px 0 70px 0;
}

.medsos ul {
    display: flex;
    list-style: none;
}

.medsos li {
    padding-right: 20px;
}

.fa-facebook-square, .fa-instagram, .fa-telegram {
    color: white;
    font-size: 25px;
}

.fa-facebook-square:hover, .fa-instagram:hover, .fa-telegram:hover {
    color: rgb(179, 179, 179);
}

.copyright {
    padding: 10px;
    border-top: 1px solid rgb(167, 167, 167);
}

.copyright p {
    color: rgb(184, 184, 184);
    text-align: center;
}


/* footer {
    background-color: #404449;
}

.container-footer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-bar {
    max-width: 600px;
    margin: 70px 10px;
}

.about-me {
    margin: 70px 10px;
}

.about-me h3 {
    padding-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5em;
    color: #f8f9fa;
}

.about-me p {
    color: #f8f9fa;
    line-height: 25px;
    font-family: 'Patrick Hand', cursive;
    font-size: 2;
}

.about-web {
    margin: 0 10px 70px 10px;
}

.about-web h3 {
    padding: 0 10px 20px 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5em;
    line-height: 120%;
    color: #f8f9fa;
}

.about-web p {
    color: #f8f9fa;
    line-height: 25px;
    font-family: 'Patrick Hand', cursive;
    font-size: 2;
}

.contact {
    margin: 0 10px 0 10px;
}

.contact h3 {
    padding: 0 10px 20px 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5em;
    color: #f8f9fa;
}

.contact p {
    padding-bottom: 10px;
    color: #f8f9fa;
    font-family: 'Patrick Hand', cursive;
    font-size: 2;
}


.medsos {
    display: flex;
    padding: 20px 0 70px 0;
}

.medsos ul {
    display: flex;
    list-style: none;
}

.medsos li {
    padding-right: 20px;
}

.fa-facebook-square, .fa-instagram, .fa-telegram {
    color: white;
    font-size: 25px;
}

.fa-facebook-square:hover, .fa-instagram:hover, .fa-telegram:hover {
    color: rgb(179, 179, 179);
}

.copyright {
    padding: 10px;
    border-top: 1px solid rgb(167, 167, 167);
}

.copyright p {
    color: rgb(184, 184, 184);
    text-align: center;
}


/* figure img {
    opacity: 0.8;
}

figure img:hover {
    opacity: 1;
} */ 
